.btn {
  display: inline-block;
  border-radius: 0;
  /* min-width: 156px; */
  position: relative;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
}

.btn-md {
  height: 36px;
  padding: 0px 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.44;
}

.btn-primary {
  border: 2px solid #15314d;
  background-color: #15314d;
  color: #fff;
  transition: all 0.25s;
}

.btn-primary:hover {
  border: 2px solid #15314d;
  background-color: #fff;
  color: #15314d;
}

.btn-primary-outline {
  border: 2px solid #bfc2ca;
  background-color: transparent;
  color: #15314d;
  transition: all 0.25s;
}

.btn-primary-outline:hover {
  background-color: #15314d;
  color: #fff;
}

.btn-round {
  border-radius: 20px;
}