@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-SemiBold.ttf");
  font-style: normal;
  font-weight: bold;
}

.source-serif-pro { 
  font-family: "Source Serif Pro", georgia, serif;
}

.system-font {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}