html {
  scroll-behavior: smooth;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

.content {
  font-family: "Source Serif Pro", georgia, serif;
  font-size: 1.15rem;
}